@{
    ViewData["Title"] = "Home Page";
}
@model List<WebNote>

<!--Main Jumbotron-->
<div class="jumbotron" id="jumbotron">
    <h1><i class="glyphicon glyphicon-edit" id="webnotes-icon"></i>WebNotes</h1>
    <p>Quickly create notes and organize your life using this simple tool.</p>

    <button class="btn btn-primary btn-lg" data-bind="click: toggleAddNoteForm">
        Add Note <span class="caret"></span>
    </button>

    <!--New Note Form-->
    <div class="hidden" id="new-note-form">
        <form class="formz-group form-group-lg">
            <input type="text" class="form-control" placeholder="Title" id="note-title">
            <textarea class="form-control" rows="3" placeholder="Content" id="note-content"></textarea>

            <button type="button" class="btn btn-default pull-right" data-bind="click: submitNote" >
                <span class="text-success">Create Note</span>
                <i class="glyphicon glyphicon-ok text-success"></i>
            </button>

            <!--Color Picker dropdown button-->
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="color-button">
                    <span id="color-button-text">Green</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li data-bind="click: noteColor.bind(this, 'green')"><a href="#"><span class="text-success">Green</span></a></li>
                    <li data-bind="click: noteColor.bind(this, 'blue')"><a href="#"><span class="text-info">Blue</span></a></li>
                    <li data-bind="click: noteColor.bind(this, 'orange')"><a href="#"><span class="text-warning">Orange</span></a></li>
                    <li data-bind="click: noteColor.bind(this, 'red')"><a href="#"><span class="text-danger">Red</span></a></li>
                </ul>
            </div>

        </form>
    </div>

</div>


<!--NOTES Div-->
<div id="notes-div">

    <!--Note template-->
    <script type="text/html" id="to-do-item-template">
        <div class="form-group form-inline" id="email-note-form" data-bind="visible: emailVisible">
            <input type="email" class="form-control" placeholder="Email">
            <button type="submit" class="btn btn-default">Send</button>
        </div>
        <div class="panel" id="note-panel" data-orderIndex="0">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="glyphicon glyphicon-envelope" id="email-note-symbol" data-bind="click: showEmailForm"></i>
                    <i class="glyphicon glyphicon-chevron-up" id="move-up-symbol"></i>
                    <i class="glyphicon glyphicon-chevron-down" id="move-down-symbol"></i>
                    <span class="note-title">Note Title</span>
                    <input type="text" class="form-control hidden" id="edit-title-input" />
                    <a class="delete-note-button">
                        <i class="glyphicon glyphicon-remove pull-right" id="delete-note-symbol"></i>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <span id="panel-note-content">Note content</span>
                <textarea class="form-control hidden" rows="3" id="edit-content-input"></textarea>
            </div>
        </div>
    </script>

    @foreach (var note in Model)
    {
        <div class="form-group form-inline"  data-bind="visible: emailVisible">
            <input type="email" class="form-control" id="email-input" placeholder="Email">
            <button type="submit" class="btn btn-default" id="email-note-button" data-id="@note.Id">Send</button>
        </div>

        <div class="panel @note.Color" id="note-panel" data-orderIndex="@note.OrderIndex" data-id="@note.Id">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="glyphicon glyphicon-envelope" id="email-note-symbol" data-bind="click: showEmailForm"></i>
                    <i class="glyphicon glyphicon-chevron-up" id="move-up-symbol"></i>
                    <i class="glyphicon glyphicon-chevron-down" id="move-down-symbol"></i>
                    <span class="note-title">@note.Title</span>
                    <input type="text" class="form-control hidden" id="edit-title-input" />

                    <a class="delete-note-button" data-id="@note.Id">
                        <i class="glyphicon glyphicon-remove pull-right" id="delete-note-symbol"></i>
                    </a>

                </h3>
            </div>
            <div class="panel-body" data-id="@note.Id">
                <span id="panel-note-content">@note.Content</span>
                <textarea class="form-control hidden" rows="3" id="edit-content-input"></textarea>
            </div>
        </div>

    }
</div>
